.team-section__desc {
  padding: 0 100px;
  margin: 0;
  margin-bottom: 90px;
  text-align: center;
  text-transform: none;
  font-size: 15px;
  line-height: 24px;
  font-family: $third-font-family;
  color: $third-text-color;
}
